<!--This is the abstract view for the tabbed app in logged-in status -->
<ion-view>
    <ion-tabs class="tabs-icon-top tabs-balanced">

        <ion-tab title="Forum" icon="ion-android-chat" href="#/main/forum">
            <ion-nav-view name="forum-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Notes" icon="ion-edit" href="#/main/notes">
            <ion-nav-view name="notes-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Map" icon="ion-map" href="#/main/map">
            <ion-nav-view name="map-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="Settings" icon="ion-gear-a" href="#/main/settings">
            <ion-nav-view name="settings-tab"></ion-nav-view>
        </ion-tab>

    </ion-tabs>
</ion-view>
