<ion-view view-title="Register">
    <ion-nav-bar class="bar-positive" align-title="center">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-content class="padding-top">
      
        <div class="item images-parent">
            <img src="../img/clipboard.png" class="center-image" style="border-radius: 50%">
        </div>
        
        <form name="registerForm" novalidate ng-submit="registerForm.$valid && register(user)"
              ng-class="{ 'has-error' : registerForm.txtemail.$invalid && registerForm.$submitted }">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input name="txtemail" type="email" ng-model="user.email" placeholder="Email"
                           ng-minlength="6"
                           ng-maxlength="30"
                           required>
                </label>                
                <div class="form-errors" ng-messages="registerForm.txtusername.$error" ng-if="registerForm.$submitted">
                    <div class="form-error" ng-message="required">This field is required.</div>
                    <div class="form-error" ng-message="minlength">This field is must be less than 3 characters.<</div>
                    <div class="form-error" ng-message="maxlength">This field is must be less than 10 characters.<</div>
                </div>
                <label class="item item-input item-floating-label" ng-class="{ 'has-error-lr' : registerForm.txtpassword.$invalid  && registerForm.$submitted}">
                    <span class="input-label">Password</span>
                    <input name="txtpassword" type="password" ng-model="user.password" placeholder="Password"
                           ng-minlength="6"
                           ng-maxlength="25"
                           required>
                </label>
                <div class="form-errors" ng-messages="registerForm.txtpassword.$error" ng-if="registerForm.$submitted">
                    <div class="form-error" ng-message="required">This field is required.</div>
                    <div class="form-error" ng-message="minlength">This field is must be at least 6 characters.</div>
                    <div class="form-error" ng-message="maxlength">This field is must be less than 30 characters.</div>
                    <div class="form-error" ng-message="pattern">This field is should contain only letters and numbers.</div>
                </div>
            </div>
            <div class="padding-top">
                <input type="submit" value="Register" class="button button-block button-positive" />
            </div>
        </form>
    </ion-content>
</ion-view>
