/* Empty. Add your own CSS if you like */

.scroll{
	height: 100%;
}

#map{
	height: 100%;
	width: 100%;
}

 .images-parent{
      text-align: center;
    }

 .center-image{
      margin:0 auto;
      max-width: 200px !important;
      max-height: 200px !important;
    }

  .floated_img{
    height: 200px;
    width: 75%;
}
  .floated_img img{
    width : 100%;
    height: auto;
  }